# Created by https://www.toptal.com/developers/gitignore/api/java,gradle,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=java,gradle,intellij

backend/.gradle
backend/build
backend/folder

# sass-scss map files
backend/src/main/resources/static/static/css/*
backend/src/main/resources/static/static/js/*

# OAuth2 secret-key
backend/src/main/resources/application.yml
backend/src/main/resources/application-oauth.properties

frontend/build
frontend/node_modules

# OpenApi secret-key
.env


