<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shane.blog.domain.city.CityMapper">

    <!-- Test를 위한 mapper -->
    <select id="getTest" resultType="shane.blog.domain.city.City">
        Select *
        from city
        where id = #{id}
    </select>

    <select id="findByState" resultType="shane.blog.domain.city.City">
        Select *
        from city
        where state = #{state}
    </select>

</mapper>