<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="10000" />
		<setting name="lazyLoadingEnabled" value="false" />

        <!--컬럼에 언더스코어(SnakeCase : user_name)를 카멜케이스(CamelCase : userName)로 변경해주는 옵션-->
		<setting name="mapUnderscoreToCamelCase" value="true" /> 
        
        <!-- 쿼리 결과 필드가 null인 경우, 누락이 되서 나오지 않게 설정-->
        <setting name="callSettersOnNulls" value="true"/>

        <!-- 쿼리에 보내는 파라미터가 null인 경우, 오류가 발생하는 것 방지 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

    <typeAliases>

        <typeAlias type="shane.blog.domain.member.MemberRequest" alias="memberReq"/>
        <typeAlias type="shane.blog.domain.member.MemberResponse" alias="memberRes"/>
        <typeAlias type="shane.blog.domain.common.dto.SearchDto" alias="searchDto"/>
        <typeAlias type="shane.blog.domain.post.PostRequest" alias="postReq"/>
        <typeAlias type="shane.blog.domain.post.PostResponse" alias="postRes"/>
        <typeAlias type="shane.blog.domain.picture.PictureRequest" alias="pictureReq"/>
        <typeAlias type="shane.blog.domain.picture.PictureResponse" alias="pictureRes"/>

    </typeAliases>

</configuration>